body {
    background-color: blanchedalmond;
}

.cont {

    padding: 23px;
    margin: 6px;
    text-align: center;
}

#btn {
    padding: 6px;
    border-radius: 9px;
    background-color: black;
    color: white;
}

#btn:hover {
    background-color: darkred;
    cursor: pointer;

}

.box {
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(189, 234, 240);
    padding: 10px;
    margin: 6px;
    border-radius: 9px;
}

.boxes {

    display: flex;
}